<form class="{{cssClass}} item-sheet-shell flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="header-fields flexcol">
            <h1 class="item-name-dynamic"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="item-type-badge {{item.type}}">{{item.type}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab active" data-group="primary" data-tab="description">
            <div class="form-group">
                <label>Description</label>
                <textarea name="system.description" rows="10">{{system.description}}</textarea>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            <div class="form-group">
                <label>Deity</label>
                <input type="text" name="system.deity" value="{{system.deity}}" placeholder="Associated deity or divine force" />
            </div>

            {{> "systems/thefade/templates/item/parts/bonuses.html" bonuses=system.bonuses bonusPath="system.bonuses"}}
        </div>
    </section>
</form>
