<form class="{{cssClass}} item-sheet-shell" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="item-name-dynamic"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="item-type-badge {{item.type}}">{{item.type}}</div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            <div class="form-group">
                <label>Description</label>
                <textarea name="system.description">{{system.description}}</textarea>
            </div>
            <div class="form-group">
                <label>Usage Examples</label>
                <textarea name="system.usage">{{system.usage}}</textarea>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>Rank</label>
                <select name="system.rank">
                    {{selectOptions skillRankOptions selected=system.rank}}
                </select>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select name="system.category">
                    {{selectOptions skillCategoryOptions selected=system.category}}
                </select>
            </div>
            <div class="form-group">
                <label>Associated Attribute</label>
                <select name="system.attribute">
                    {{selectOptions skillAttributeOptions selected=system.attribute}}
                </select>
            </div>
            <div class="form-group">
                <label>Misc Bonus (Extra Dice)</label>
                <input type="number" name="system.miscBonus" value="{{system.miscBonus}}" data-dtype="Number" />
                <p class="hint">Additional dice added to skill rolls</p>
            </div>
        </div>
    </section>
</form>
