<form class="{{cssClass}} item-sheet-shell flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="header-fields flexcol">
            <h1 class="item-name-dynamic"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="item-type-badge {{item.type}}">{{item.type}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab active" data-group="primary" data-tab="description">
            <div class="form-group">
                <label>Description</label>
                <textarea name="system.description" rows="10">{{system.description}}</textarea>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            <div class="form-group">
                <label>Trait Type</label>
                <select name="system.traitType" data-dtype="String">
                    <option value="general" {{#if (eq system.traitType "general")}} selected{{/if}}>General</option>
                    <option value="species" {{#if (eq system.traitType "species")}} selected{{/if}}>Species</option>
                    <option value="background" {{#if (eq system.traitType "background")}} selected{{/if}}>Background</option>
                    <option value="physical" {{#if (eq system.traitType "physical")}} selected{{/if}}>Physical</option>
                    <option value="mental" {{#if (eq system.traitType "mental")}} selected{{/if}}>Mental</option>
                    <option value="social" {{#if (eq system.traitType "social")}} selected{{/if}}>Social</option>
                    <option value="supernatural" {{#if (eq system.traitType "supernatural")}} selected{{/if}}>Supernatural</option>
                </select>
            </div>

            <div class="form-group">
                <label>Prerequisites</label>
                <textarea name="system.prerequisites" rows="10">{{system.prerequisites}}</textarea>
            </div>
        </div>
    </section>
</form>
