<form class="{{cssClass}} item-sheet-shell flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="header-fields flexcol">
            <h1 class="item-name-dynamic"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="item-type-badge {{item.type}}">{{item.type}}</div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            <div class="form-group">
                <label>Description:</label>
                <textarea name="system.description" rows="10">{{system.description}}</textarea>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            <div class="form-group">
                <label>Travel Type:</label>
                <input type="text" name="system.travelType" value="{{system.travelType}}" />
            </div>
            <div class="form-group">
                <label>Speed Bonus:</label>
                <input type="text" name="system.speedBonus" value="{{system.speedBonus}}" />
            </div>
            <div class="form-group">
                <label>Capacity:</label>
                <input type="text" name="system.capacity" value="{{system.capacity}}" />
            </div>
            <div class="form-group">
                <label>Special Features:</label>
                <textarea name="system.specialFeatures" rows="3">{{system.specialFeatures}}</textarea>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>Quantity</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="0" />
            </div>

            <div class="form-group">
                <label>Price (sp)</label>
                <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>

            <div class="form-group">
                <label>Weight (lbs)</label>
                <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" step="0.1" />
            </div>
        </div>

    </section>
</form>
